body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
}

header {
    background-color: #2E8B57;
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    border: 1px solid #0e0d0d;
    background-color: #34495e;
}

.hero {
    position: relative;
    text-align: center;
    color: #FFF;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1, .hero p, .hero .cta {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero h1{
    left: 50%;
    top: 85%;
}

.hero .cta {
    background-color: #FFD700;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    top: 60%;
}

.events, .resources, .testimonies {
    padding: 40px;
    text-align: center;
}

.events-list, .resources-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.event, .resource {
    margin: 20px;
    padding: 20px;
    border: 1px solid #DDD;
    background-color: #FFF;
}

footer {
    background-color: #2E8B57;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

footer .contacto, footer .redes {
    margin-bottom: 10px;
}

footer .redes img {
    margin: 0 10px;
}
#members-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 700px;
    margin: 0 auto;
    
    
  }
  
  #members-container.list-view {
    display: block;
    text-align: center;
    max-width: 300px;
  }
  
  .member-card, .member-list-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  
  
  #list-members  {
    width:50% ;
    position:relative;
    top: 90%;
    left: 25%;
    padding: 10px;

    border-collapse: separate; 
    border-spacing: 0 15px; 
    border: 1px solid #f0f3eb;
    background-color: #a3d0ea;
}

#list-members th, #list-members td {
    padding: 10px ;
    text-align: left;
    border-bottom: 1px solid #ecf0f2;
    background-color: #dee4e8;
    width: 0%;
  
}
.redes img {
    width: 25px;
    height: 25px; 
}
.business h2{
  
    position:relative;
    top: 90%;
    left: 40%;

}
.grid-view img{
    width: 80px;
    height: 80px;

}
#view-toggle button i,
#view-toggle button span.material-icons,
#view-toggle button img {
    font-size: 2px; 
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

#view-toggle button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px 20px;
    cursor: pointer;
}

#view-toggle button.activo {
    font-weight: bold;
    background-color: #e0e0e0;
}